Flask==3.0.3
pandas==2.2.3
yfinance==0.2.61
numpy==1.26.4
requests==2.32.3
multitasking==0.0.11
lxml==5.3.0
beautifulsoup4==4.12.3
frozendict==2.4.6
peewee==3.17.8
python-dateutil==2.9.0.post0
pytz==2024.2
matplotlib==3.9.2
